.App {
  text-align: center;
}

.seat{
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.up{
  background-color: yellow
}

.down{
  background-color: aqua;
}

.true {
  background-color: red;
}

.bookingTable{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}